.c-dboard{
  display: flex;
  flex-direction: column;
  font-family: 'quicksand';
  font-size: 1.6rem;
  color: $color-black;
  // background-color: $color-primary;

  mat-card-title{
    position: relative;
    left: -15px;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../assets/dashboard_banner.jpeg);
    background-size: cover;
    text-align: center;
    font-size: 4.8rem;
    color: $color-white;
  }

  .c-dboard-card__chqsvng-wrapper{
    font-size: 3.2rem;
    margin-top: 2.5%;

    header h3{
      font-weight: 500;
    }

    .c-dboard-card__chqsvng{
      display: flex;
      font-size: 3.2rem;
      width: 70%;
      margin: 0 auto;
      font-size: 2.0rem;
    }
  }

  .c-dboard-card__cdtcrds-wrapper{
    font-size: 3.2rem;
    margin-top: 2.5%;

    header h3{
      font-weight: 500;
    }

    .c-dboard-card__cdtcrds{
      width: 70%;
      display: flex;
      margin: 0 auto;
      font-size: 2.0rem;

        .c-dboard-card__cdtcrd {
          box-shadow: 0.3rem 0.3rem $color-black;
        }
      }
  }
}
